.rdw-text-align-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
:global(.rdw-text-align-dropdown) {
  width: 50px;
  z-index: 90;
}
:global(.rdw-text-align-dropdownOption) {
  height: 40px;
  display: flex;
  justify-content: center;
}
:global(.rdw-right-aligned-block) {
  text-align: right;
}
:global(.rdw-left-aligned-block) {
  text-align: left !important;
}
:global(.rdw-center-aligned-block) {
  text-align: center !important;
}
:global(.rdw-justify-aligned-block) {
  text-align: justify !important;
}
:global(.rdw-right-aligned-block > div) {
  display: inline-block;
}
:global(.rdw-left-aligned-block > div) {
  display: inline-block;
}
:global(.rdw-center-aligned-block > div) {
  display: inline-block;
}
:global(.rdw-justify-aligned-block > div) {
  display: inline-block;
}
